
.carrossel{
  height: 75vh;
  display:flex;
  flex-wrap: nowrap;
  justify-content: start;
  box-shadow: 0 10px 24px hsla(228, 66%, 45%, .25);
}

.imagens {
  height: 100%;
  position: relative; /* Adiciona posição relativa à div imagens */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; /* Centraliza as imagens na div */
}

.imagens img {
  width:100%;
  filter: brightness(45%);
  max-width: 100%;
  height:100%;
}

.imagens .texto {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 10vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Ap0{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.Ap1{
  background-color: white;
  display:flex;
  flex-wrap: wrap;
  max-width: 80%;
  padding: 50px 25px;
  box-shadow: 0 10px 24px hsla(228, 66%, 45%, .25);
  margin: 2%;
}

.Ap1 h2{
  height: fit-content;
  margin: 0px;
  border-bottom: 4px solid #000000;
  font-family: 'Bebas Neue', cursive;
  color: black;
  font-size: 300%;
}

.Ap1 p{
  font-family: 'Open Sans', cursive;
  color: black;
  margin: 0px;
  font-size:3vh;
}

.Ap1:nth-of-type(2) {
  margin-bottom: 110px;
}