@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

  
html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(227, 227, 227);
  position: relative;
  margin: 0;
  padding: 0px;
  min-height: 100%;
}

header {
  width: 100%;
  background-color: #000000;
  position: fixed;
  z-index: 10;
}

.topbar {
  background-color: black ;
  color: #BABABA;
  padding: 10px 12%;
  font-family: 'Bebas Neue', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar a {
  text-decoration: inherit;
  color: #cccccc;
}

.logo {
  font-size: 25px;
  cursor: pointer;
}

.paths a {
  font-size: 1.4em;
  padding: 0 15px;
}

.topbar a:hover{
  color: #fafafa;
}

.home {
  padding: 0 15px;
  font-size: 1.4em;
}

.home:hover {
  color: #fafafa;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000000;
  text-align: center;
}

.footer span {
  font-size: 22px;
}

.text-font {
  font-family: 'Bebas Neue', cursive;
}
