body{
    background-color: #DDD;
}

.page-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin-top: 60px;
}
.text-editor{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 780px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.editor-actions{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.btn-group{
    border: 1px solid lightgray;
    border-radius: 6px;
}
.btn-group button{
    outline: none;
    background-color: transparent;
    padding: 16px;
    border: none;
    font-size: 20px;
    float: left;
    cursor: pointer;
    border-left: 1px solid lightgray;
}

.btn-group button:hover{
  background-color: lightgray;
}

.text-zone{
    border: solid;
    min-height: 200px;
    margin: 0 auto;
    font-size: 20px;
    width: 700px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-zone  a{
    cursor: pointer;
    color: rgb(212, 139, 246);
}

.editor{
  display: flex;
  justify-content: center;
 
}

#categoria{
  width:20%;
}

#b_postar {
			color: #ffffff;
    background-color: #2d63c8;
    font-size: 19px;
    border: 1px solid #2d63c8;
    padding: 15px 50px;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
		}
#b_postar:hover {
			color: #2d63c8;
			background-color: #ffffff;
}