@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

#noticias {
  padding: 100px 12%;
  font-family: 'Open Sans', sans-serif;
}

#divNoticias {
  padding: 15px 25px;
  box-shadow: 0 8px 24px hsla(228, 66%, 45%, .25);
}

#divNoticias h3 a {
  color: #000000;
  font-size: 30px;
}

/* #divNoticias p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
 */
#divNoticias p {
    overflow: hidden;
    position: relative;
    max-height: 5vh;   
    text-align: justify;
}
#divNoticias p:before {
    content: '...';
    position: absolute;
    right: 0px;
    bottom: 0;
    padding: 0 0px 0 0.25em;
}