@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

#noticias {
  padding: 100px 12%;
  font-family: 'Open Sans', sans-serif;
}

.artigo {
  padding: 15px 25px;
  box-shadow: 0 8px 24px hsla(228, 66%, 45%, .25);
}

.artigo h1 {
  color: #000000;
  font-size: 40px;
}

.artigo p {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}

#categoria {
  font-size: 30px;
}

#corpo img {
  padding: 40px 0;
  width: 100%;
}