@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
  position: relative;
  background: #ffffff;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000000;
    text-align: center;
}

.home-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(https://cdn.glitch.global/7f9ac767-286d-491d-bfcb-fd2095f7eff0/basquetecesta.jpg?v=1680194658036);
    background-size: cover;
    background-position: center;
}

.introduction {
    max-width: 35%;
    position: absolute;
    color: #ffffff;
    right: 13%;
    top: 20%;
}

.introduction h1 {
    font-size: 8rem;
    text-align: center;
    font-weight: 600;
    color: #d34808;
    line-height: 40px;
}

.introduction p {
    font-size: 1.6rem;
    text-align: justify;
    line-height: 1.3;
}

.history,
.rules,
.players {
  padding: 100px 12% 0 12%;
}

.history-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 25px;
  box-shadow: 0 8px 24px hsla(228, 66%, 45%, .25);
}

.history-text {
  max-width: 60%;
  background: #ffffff;
  padding: 0 50px;
}

.history-text h2 {
  font-size: 30px;
  border-bottom: 4px solid #d34808;
}

.history-text p {
  font-size: 23px;
  margin: 0;
  line-height: 1.3;
}

.img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}

.img img {
  width: 500px;
}

.img-box span {
  padding-top: 10px;
  font-size: 25px;
  text-align: center;
}

.rules-container {
  padding: 50px 25px;
  box-shadow: 0 8px 24px hsla(228, 66%, 45%, .25);
}

.rules-title,
.rules-grid,
.rules-quadra {
  padding:0 50px;
}

.rules-title h2 {
  max-width: 120px;
  font-size: 30px;
  border-bottom: 4px solid #d34808;
}

.rules-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.rules-box h3 {
  font-size: 25px;
}

.rules-box p {
  font-size: 20px;
}

.rules-quadra h3 {
  font-size: 25px;
}

.rules-quadra img {
  width: 100%;
}

.players-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 25px;
  box-shadow: 0 8px 24px hsla(228, 66%, 45%, .25);
}

.players-title {
  display: flex;
  justify-content: center;
}

.players-title h2 {
  text-align: center;
  font-size: 40px;
  border-bottom: 4px solid #d34808;
}

.players-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 25px 50px;
  box-shadow: 0 8px 24px hsla(228, 66%, 45%, .25);
  margin-bottom: 60px;
}

.players-box span {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 10px;
  border-bottom: 4px solid #fe8c00;
}

.players-box img {
  width: 100%;
}

.players-box p {
  font-size: 20px;
  text-align: justify;
  line-height: 1.2;
}