@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.contact.header { grid-area: header; margin-top: -50px; margin-bottom: -10px; }
.contact.item.first-name { grid-area: fname; }
.contact.item.last-name { grid-area: lname; }
.contact.item.email { grid-area: email; }
.contact.item.message { grid-area: msg; }
.contact.item.submit { grid-area: submit; }

.contact.item {
  display: flex;
  flex-direction: column;
}

.contact.item input[type="text"], textarea {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: #efefef;
  border-width: 2px;
}

.contact.item input:focus, textarea:focus {
  outline: none;
  border-color: #bbbbbb;
}

.contact.item label {
  font-family: 'Bebas Neue', cursive;
  color: #505050;
  font-size: 20px;
}

.contact.header h1 {
  font-family: 'Bebas Neue', cursive;
  color: #282828;
  font-size: 40px;
}

.contact.item.submit button {
  background-color: #145DA0;
  height: 50px;
  text-align: center;
  display: block;
  border: none;
  border-radius: 5px;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8em;
  color: white;
  cursor: pointer;
}

.contact.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.contact.form {
  display: grid;
  width: 28vw;
  row-gap: 10px;
  column-gap: 10px;
  background-color: white;
  padding: 60px 40px 60px 40px;
  border-radius: 20px;
  grid-template-areas:
    "header header"
    "fname lname"
    "email email"
    "msg msg"
    "submit submit";
}

.contact.container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  transform: translateY(35%);
}

.footer {
  position: fixed; !important
}